html(lang="ru")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title title

body
  block mixins
    include ../components/tabs/tabs

  block header
    include ../components/header/header
  
  main
    block main

  block footer
    include ../components/footer/footer

  block scripts
    // Файлы js должны быть в dist в папке js
    script(type="module" src="js/main.js")