html(lang="ru")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  title name
body
  div
    h1 Это должна быть точка входа
    ol(style="display: flex; flex-direction: column; row-gap: 10px; flex-grow: 1; margin: 0; margin-left: 20px; padding: 0; padding-bottom: 40px; font-size: 1rem; line-height: 1.2;")
      li
        a(href="./main.html" tabindex="-1") Главная